.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  background-color: #bfbfbf;
  height: 100%;
  padding-top: 4%;
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img {
  width: 250px;
}

/* Add more styling for other elements if needed */
#cart {
  width: 50px;
}

#singleItem {
  padding: 2%;
  background-color: #bfbfbf;
  height: 100vh;
}

#searchCard {
  position: absolute;
  /* width: 945px; */
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: auto;
  overflow-y: auto;
}

#searchBar {
  padding-top: 13px;
}

#loginPage,
#RegisterPage {
  height: 100vh;
  background-color: #bfbfbf;
}

#loginCard {
  height: 21rem;
  width: 50rem;
}

#RegisterCard {
  height: 21rem;
  width: 100rem;
}

#allItemsTitle,
#phoneTitle,
#computerTitle {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2%;
}

#allItemsCards,
#phoneFilterCard {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
